@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html{ @apply font-bebas; }
}


@font-face {
  font-family: 'Bebas Neue';
  src: url('/fonts/BebasNeue-Regular.woff2') format('woff2');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Anton';
  src: url('/fonts/Anton-Regular.woff2') format('woff2');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}
.page-enter-active,
.page-leave-active {
  transition: transform 0.6s ease, opacity 0.4s ease;
}

.page-enter-from {
  transform: translateX(100%);
  opacity: 0;
}

.page-enter-to {
  transform: translateX(0%);
  opacity: 1;
}

.page-leave-from {
  transform: translateX(0%);
  opacity: 1;
}

.page-leave-to {
  transform: translateX(-100%);
  opacity: 0;
}

@media (max-width: 820px) {

  .safe-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 6px;
    background: #22c55e;
    z-index: 9999999;
    pointer-events: none;
  }

  .safe-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 6px;
    background: #22c55e;
    z-index: 9999999;
    pointer-events: none;

    display: block;
  }

  html.nav-open .safe-bottom {
    display: block;
  }

  html.no-loading:not(.nav-open) .safe-bottom {
    display: none;
  }
}

@media (min-width: 821px) {
  .safe-top,
  .safe-bottom {
    display: none !important;
  }
}


/* ----- SCROLL LOCK MENU MOBILE ----- */
html.overflow-hidden,
body.overflow-hidden {
  overflow: hidden !important;
  height: 100vh;
  touch-action: none;
}